<meta charset=utf-8>
<title>Get RChain Doctor API key</title>
<link href='https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css' rel='stylesheet'>
<script src='https://www.google.com/recaptcha/api.js'></script>
<div class='w-full max-w-sm mx-auto m-4'>
  <form method=post action=/api/getakey class='bg-white rounded px-8 pt-6 pb-8 m-4'>
    <h3 class='block mb-8 text-center'>
      Get RChain Doctor API key
    </h3>
    <div class='mb-4'>
      <label for=name class='block text-sm font-bold mb-2'>
        Your name
      </label>
      <input id=name name=name type=text placeholder='Eva Lu Ator'
        class='shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline'>
    </div>
    <div class='mb-4'>
      <label for=email class='block text-sm mb-2'>
        <span class='font-bold'>Your email</span> <span>(optional)</span>
      </label>
      <input id=email name=email type=email placeholder='eva@mit.edu'
        class='shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline'>
    </div>
    <div class='mb-6'>
      <label for=email class='block text-sm font-bold mb-2'>
        Solve a puzzle
      </label>
      <div class='g-recaptcha' data-sitekey='6LeniXsUAAAAAOaBkfnOV_xhE8cN888f7oUkWE0t'></div>
    </div>
    <div class='flex items-center justify-between'>
      <input type=submit value='Get key'
        class='bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline'>
    </div>
  </form>
</div>
